body {
  margin:0;
  height:100%;
  background: #181818;
  
  background-size: 100% 100%;
}

.center {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  text-align: center;
  -webkit-animation:  pulse 4s ease 0s infinite;
  animation: pulse 4s ease 0s infinite;
  -ms-transform: translate(-10%, 0);
  transform: translate(-10%, 0);
  
}


.contain {
  display:block;
  width:100%; height:100%;
  object-fit: contain;
}

.stretch {
  display:block;
  width:100%; height:100%;
}

.cover {
  display:block;
  width:100%; height:100%;
  object-fit: cover;
}

.bottom {
  position: absolute;
  bottom: 0;
  left: 50%;
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}

.bottomLeft {
  position: absolute;
  bottom: 0;
  left: 0;
}

.bottomRight {
  position: absolute;
  bottom: 0;
  right: 0;
}

@media (prefers-color-scheme: dark) {
  body {
    margin:0;
    height:100%;
    background: #181818;
    
    background-size: 100% 100%;
  }
}

@keyframes pulse {
  0% {
    transform: scale(1) ;
}
50% {
    transform: scale(1.1) ;
}
100% {
  transform: scale(1);
}
}
